$text_color: #000;
$text_gray: #666666;
$footer_gray: #605f5f;
$accent_color: #3a30f8;
$global_blue: #4237f7;
$info_color: #cdcdcd;
$section_bg: #f8f8f8;

// Fonts
$main_font: "Roboto", Arial, sans-serif;
$title_font: RubikMonoOne, Arial, sans-serif;
